click==8.2.1
joblib==1.5.1
matplotlib==3.10.5
numpy==2.3.2
pandas==2.3.1
rdkit==2025.3.3
scikit_learn==1.7.1
selfies==2.2.0
stk==2024.10.2.0
torch==2.7.1
torch_geometric==2.6.1
tqdm==4.67.1
transformers==4.53.2
sphinx==8.2.3
sphinx-rtd-theme==3.0.2